@import 'nib'

$away = #EC6464
$online = #8CEC64
$idle = #CECECE

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

.messageBox
  border-top 1px solid #ccc
  width 80%
  position fixed
  bottom 0px
  left 20%

.chatContainer
  position fixed
  top 0px
  left 20%
  width 80%
  padding 40px
  overflow scroll
  height 100%
  box-shadow 0px 0px 14px #ccc
    
.sidebar
  height 100%
  width 20%
  background #f8f8f8
  position fixed
  top 0px
  left 0px
  
.txt
  border 0px solid red
  border-bottom-color #ccc
  outline none
  padding 10px
  font-family arial
  font-size 1em
  width 100%
  display block

.txt-1
  border-color #fff

blockquote
  p
    font-size 12px
    
.status
  height 18px
  width 18px
  display inline-block
  border-radius 50%
  margin-right 20px
  position relative
  top 3px
.status-idle
  background-color $idle
.status-away
  background-color $away
.status-online
  background-color $online

  
.header
  text-align center
  border-bottom 1px solid #ddd

.list
  padding 0px
  list-style none
  font-size 18px
  li
    padding 10px 20px
    line-height 18px
    &:nth-child(odd)
      background #eee

.new
  color $away












