extends layout

block content
	.sidebar
		.header
			h1 {{user.name}}
		.users
			ul.list
				li(ng-repeat="user in users")
					.status(ng-class="'status-{{user.status}}'")
					| {{user.name}}
	.chatContainer#messages
		p
			.btn.btn-default.btn-block(ng-click="load()") LOAD MORE
		div(ng-repeat="message in messages")
			p.animated(ng-show="message.new" ng-class="{'fadeOut': message.out}")
				span.new ------------- new -----------
			blockquote(ng-hide="message.new")
				p
					b {{message.name}}: 
					span(ng-show="!checkUrl(message)") {{message.body}}
					span(ng-show="checkUrl(message) && !checkImg(message) && !checkVid(message) && !checkMp4(message)")
						a(href="{{message.body}}" target="_blank") {{message.body}}
					div(ng-show="checkImg(message)" ng-bind-html="getCodeImg(message)")
					div(ng-show="checkVid(message)" ng-bind-html="getCode(message)")
					div(ng-show="checkMp4(message)" ng-bind-html="getVideo(message)")

	form.messageBox(ng-submit="add()")
		input.txt(ng-model="newmessage.body" placeholder="Message")
		button.btn.btn-succes(style="display:none;" type="submit") send
	audio(controls style="display:none")
		source(src="/notify.mp3" type="audio/mpeg")
		| Your browser does not support the audio element.