doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Chat
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
	link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css')
	link(rel="stylesheet", href="css/style.min.css")
	script(src="/socket.io/socket.io.js")
body
	.navbar.navbar-fixed-top.navbar-default
		button(onClick="toggleSidebar()" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand
			span#title
	#sidebar.sidebar-id
	#chatlist
	#chatBox
	.loading#loading
	//- audio(controls)
		//- source(src="notify.mp3")
		//- | Your browser does not support the audio element.
	audio(controls style="display:none")
		source(src="/notify.ogg")
	script.
		function toggleSidebar(){
			var clase = (document.getElementById('sidebar').className=="sidebar-id sidebar-id-show")? "sidebar-id": "sidebar-id sidebar-id-show";
			document.getElementById('sidebar').className = clase;
		}
	script(src="/js/bundle.js")
